<div class="row">
    <div class="home-top col-sm-12">
        <h3>Hi, I'm Kim</h3>
        <p>coder, foodie, traveler, yogi, lifelong learner</p>
    </div><!-- end home-top -->
</div><!-- end row -->

<section id="portfolio">
  <div class="container inner-portfolio">
    <!--<a class="filter" data-filter=".design, .web, .brending, .video">All</a>
    <a class="filter" data-filter=".design">design</a>
    <a class="filter" data-filter=".web">web</a>
    <a class="filter" data-filter=".brending">brending</a>
    <a class="filter" data-filter=".video">video</a>-->
    <div class="portfolio">
      <div class="mix" data-my-order="1">
        <a href="http://www.stonecask.com" target="_blank">
          <img src="assets/portfolio/stonecask.jpg" alt="" />
          <div class="inner-item">
            <div class="text">
              <h6>Stone Cask</h6>
              <p><a href="http://www.stonecask.com">www.stonecask.com</a></p>
            </div>
            <!-- end text -->
          </div>
          <!-- end inner-item -->
        </a>
      </div>
      <div class="mix" data-my-order="2">
        <a href="http://shop.mtv.com/" target="_blank">
          <img src="assets/portfolio/mtv_shop.jpg" alt="" />
          <div class="inner-item">
            <div class="text">
              <h6>MTV Shop</h6>
              <p><a href="http://shop.mtv.com/">shop.mtv.com</a></p>
            </div>
            <!-- end text -->
          </div>
          <!-- end inner-item -->
        </a>
      </div>
      <div class="mix" data-my-order="3">
        <a href="http://www.hlpresents.com" target="_blank">
          <img src="assets/portfolio/henry_lawrence_presents.jpg" alt="" />
          <div class="inner-item">
            <div class="text">
              <h6>HLPresents</h6>
              <p><a href="http://www.hlpresents.com">http://www.hlpresents.com</a></p>
            </div>
            <!-- end text -->
          </div>
          <!-- end inner-item -->
        </a>
      </div>
      <div class="mix" data-my-order="2">
        <a href="http://carrington.edu/" target="_blank">
          <img src="assets/portfolio/carrington_college.jpg" alt="" />
          <div class="inner-item">
            <div class="text">
              <h6>Carrington College</h6>
              <p><a href="http://carrington.edu/">carrington.edu</a></p>
            </div>
            <!-- end text -->
          </div>
          <!-- end inner-item -->
        </a>
      </div>
      <div class="mix" data-my-order="2">
        <a href="http://www.azgne.org" target="_blank">
          <img src="assets/portfolio/azgne_home.jpg" alt="" />
          <div class="inner-item">
            <div class="text">
              <h6>AZGNE</h6>
              <p><a href="http://www.azgne.org">www.azgne.org</a></p>
            </div>
            <!-- end text -->
          </div>
          <!-- end inner-item -->
        </a>
      </div>
      <div class="mix" data-my-order="2">
        <a href="http://vantagechurch.com/" target="_blank">
          <img src="assets/portfolio/vantage_church.jpg" alt="" />
          <div class="inner-item">
            <div class="text">
              <h6>Vantage Church</h6>
              <p><a href="http://vantagechurch.com/">vantagechurch.com</a></p>
            </div>
            <!-- end text -->
          </div>
          <!-- end inner-item -->
        </a>
      </div>
      <div class="mix" data-my-order="4">
        <a href="http://www.choosinghappiness.com" target="_blank">
          <img src="assets/portfolio/choosing_happiness.jpg" alt="" />
          <div class="inner-item">
            <div class="text">
              <h6>Choosing Happiness</h6>
              <p><a href="http://www.choosinghappiness.com">www.choosinghappiness.com</a></p>
            </div>
            <!-- end text -->
          </div>
          <!-- end inner-item -->
        </a>
      </div>
      <div class="mix" data-my-order="4">
        <a href="http://www.casavideo.com/" target="_blank">
          <img src="assets/portfolio/casa_video.jpg" alt="" />
          <div class="inner-item">
            <div class="text">
              <h6>Casa Video</h6>
              <p><a href="http://www.casavideo.com/">www.casavideo.com</a></p>
            </div>
            <!-- end text -->
          </div>
          <!-- end inner-item -->
        </a>
      </div>
      <div class="mix" data-my-order="4">
        <a href="http://sfcusa.org/" target="_blank">
          <img src="assets/portfolio/sfc_usa.jpg" alt="" />
          <div class="inner-item">
            <div class="text">
              <h6>SFC USA</h6>
              <p><a href="http://sfcusa.org/">sfcusa.org</a></p>
            </div>
            <!-- end text -->
          </div>
          <!-- end inner-item -->
        </a>
      </div>
    </div>
  </div>
  <!-- end container -->
</section>
<!-- end portfolio section -->